* {
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

.head {
    text-align: center;
    font-size: 175%;
}

div {
    margin: 0px;
}

.content {
    margin: 10px;
    background-color: #819198;
    position: relative;
    border: 1px solid black;
    padding: 34px 5px 5px;
    font-size: 125%;
    height: 400px;
    overflow: auto;
}

.col-md-6, .col-md-12, .col-lg-4 {
    float: left;
}

@media (max-width: 767px) {
    .col-xs-12 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.3%;
    }
}

.title {
    position: absolute;
    height: 32px;
    top: 0px;
    right: 0px;
    border: 1px solid black;
    padding: 4px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.silver {
    background-color: silver;
}